.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.bottom {
    margin-bottom: 1vh;
}

.top {
    margin-top: 1vh;
}