.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

.main {
  flex: 1 1 auto;
}

.top {
  flex: 0 1 auto;
}

.bottom {
  flex: 0 1 auto;
}
