<div *ngIf="!isEdit; else EditName">
    <h1>{{name}}</h1>
</div>
<ng-template #EditName>
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput name="name" [(ngModel)]="name">
        <button (click)="save()">Save</button>
    </mat-form-field>
</ng-template>
<!-- <form class="example-form" *ngIf="isEdit; else notEditContent">
    <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
</form>
<ng-template #notEditContent>

</ng-template> -->